* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* 전체 */
#navbar, #banner, #info, #img-div1, #img-div2, #img-div3{
  float: left;
} 

/* 모바일 사이즈 (767px 이하) */
#navbar {
  width: 100%;
  height: 60px;
  background-color: #3B3939;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
}

#navbar #logo {
  font-size: 20px;
  color: white;
  vertical-align: middle;
}

#banner {
  width: 100%;
  height: 350px;
  background-image: url("../images/main_img.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#info {
  width: 100%;
  height: 320px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: normal;
  background-color: white;
}

.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.content {
  display: inline-block;
  vertical-align: middle;
} 

#info .label {
  font-size: 16px;
  color: #4A4A4A;
}

#info h2 {
  font-size: 20px;
  color: #1B1B1B;
  margin-top: 10px;
  margin-bottom: 30px;
}

#info p {
  font-size: 16px;
  color: #7A7A7A;
  margin: 0;
}


#img-div1 {
  width: 100%;
  height: 385px;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#img-div2 {
  width: 100%;
  height: 200px;
  background-image: url("../images/img2.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
}

#img-div2 .content a {
  border: 4px solid white;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 9px 40px;
  text-decoration: none;
  vertical-align: middle;
}

#img-div3 {
  width: 100%;
  height: 200px;
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* 테블릿 사이즈 (768px 이상, 991px 이하) */
@media (min-width: 768px) {
  #banner {
      height: 562px;
  }
  
  #info {
      height: 282px;
      padding-left: 65px;
      padding-right: 65px;
  }
  
  #img-div1 {
      width: 50%;
      height: 360px;
  }
  
  #img-div2 {
      width: 50%;
      height: 180px;
  }
  
  #img-div3 {
      width: 50%;
      height: 180px;
  }
}

/* 기본: 데스크탑 사이즈 (992px 이상) */

@media (min-width: 992px) {
  #banner {
      width: 50%;
      height: 700px;
  }
  
  #info {
      width: 50%;
      height: 350px;
  }
  
  #img-div1 {
      width: 25%;
      height: 350px;
  }
  
  #img-div2 {
      width: 25%;
      height: 175px;
  }
  
  #img-div3 {
      width: 25%;
      height: 175px;
  }
}