.col {
    height: 200px;
    float: left;
}

.col-1 {
    width: 200px;
}

.col-2 {
    width: 400px;
}

.col-3 {
    width: 600px;
}

.grid {
    border: 2px solid black;
}

.clearfix {
    clear: left;
}