style.css

#padding {
  border: 1px solid blue;
  padding: 20px 60px 40px 120px;
  /*
  Same as:
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 60px;
  */
}

#padding2 {
  border: 1px solid blue;
  padding: 50px 100px;
}

#padding3 {
  border: 1px solid blue;
  padding: 100px;
}

#margin {
  border: 1px solid blue;
  margin: 100px;
}

#margin2 {
  border: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  border: 1px solid blue;
  max-width: 1000px;
}

.p2 {
  border: 1px solid red;
  max-width: 200px;
}

.p3 {
  border: 1px solid blue;
  min-width: 2000px;
}

.p4 {
  border: 1px solid red;
  min-width: 200px;
}

.p5 {
  border: 1px solid blue;
  min-height: 400px;
}

.p6 {
  border: 1px solid red;
  min-height: 200px;
}

.p7 {
  border: 1px solid blue;
  max-height: 1000px;
}

.p8 {
  border: 1px solid red;
  max-height: 50px;
}

.p9 {
  border: 1px solid red;
  max-height: 20px;
  overflow: hidden;
}

.p10 {
  border: 1px solid red;
  max-height: 20px;
  overflow: visible;
  margin-bottom: 100px;
}

.p11 {
  border: 1px solid red;
  max-height: 40px;
  overflow: scroll;
}

.p12 {
  border: 1px solid red;
  max-height: 40px;
  overflow: auto;
}
